body {
    padding-top: 1.5%;
    h1, h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    .add_tasks {
        align-items: center;
        border: 2px solid #55545453;
        border-radius: 4px;
        margin: 2% 10%;
        padding: 1% 2%;

        .add_bar {
            font-size: 1em;
            border: 1.5px solid #55545453;
            border-radius: 3px;
            margin-bottom: 1.5%;

            .add_icon {
                color: #ffffff; 
                background-color: #1196ba; 
                padding: 0.6%; 
                border-radius: 3px;
                border-top-right-radius: 0%;
                border-bottom-right-radius: 0%;
                margin-right: 0%;
            }

            #To_do_input {
                border: none;
                outline: none;
                padding: 0.45%;
                width: 95%;
            }
        }

        button {
            background-color: #1196ba; 
            width: 100%;
            color: #ffffff;
            border: none;
            border-radius: 3px;
            padding: 0.6%;
        }
        button:hover {
        background-color: #006781;
        cursor: pointer;
        }
    }

    #classify {
        align-items: center;
        border: none;
        margin: 2.5% 10%;
        display: flex;
        justify-content: space-between;        

        button {
            background-color: #1196ba; 
            width: 32%;
            color: #ffffff;
            border: none;
            border-radius: 3px;
            padding: 0.6%;
        }
        button:hover {
        background-color: #006781;
        cursor: pointer;
        }
    }

    #edit, #delete {
        display: none;
    }

    .delete_btn {
        align-items: center;
        border: none;
        margin: 2.5% 10%;
        display: flex;
        justify-content: space-between;        

        button {
            background-color: #e94343; 
            width: 49%;
            color: #ffffff;
            border: none;
            border-radius: 3px;
            padding: 0.6%;
        } 
        button:hover {
        background-color: #f28e8e;
        cursor: pointer;
        }
    }
}